{{!-- The following component displays Ember's default welcome message. --}}
{{!welcome-page}}
{{!-- Feel free to remove this! --}}

<h1>Welcome to Ember with Module Unification</h1>
{{mu-first-post buttonPushed=(action 'sayHello')}}
{{mu-first-post::my-input}}
{{outlet}}
